@import "tailwindcss";

/* ========================= */
/* ROOT VARIABLES */
/* ========================= */
:root {
  --tg-common-color-white: #ffffff;
  --tg-common-color-gray: #e5e7eb;
  --tg-theme-primary: #4c1d95;
}

@layer base {
  body {
    font-family: 'Poppins', sans-serif;
  }
}

/* ========================= */
/* PRELOADER SPINNER */
/* ========================= */
/* #preloader {
  background-color: var(--tg-common-color-white);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  margin-top: 0;
  z-index: 9999;
}
#preloader .loader .loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border: 3px solid var(--tg-common-color-gray);
  border-radius: 50%;
}
#preloader .loader .loader-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-top: 3px solid var(--tg-theme-primary);
  border-radius: 50%;
  animation: loaderspin 1.8s infinite ease-in-out;
}
#preloader .loader .loader-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  text-align: center;
}
#preloader .loader .loader-icon img {
  animation: loaderpulse alternate 900ms infinite;
  width: 40px;
  position: relative;
  top: 0;
  left: 18px;
}

@keyframes loaderspin {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}
@keyframes loaderpulse {
  0% { transform: scale(1); }
  100% { transform: scale(1.2); }
} */

/* ========================= */
/* ANIMASI SLIDE */
/* ========================= */
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideDown {
  animation: slideDown 0.5s ease-in-out forwards;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-in-left {
  animation: slideInLeft 0.8s ease-out forwards;
}

.animate-slide-in-right {
  animation: slideInRight 0.8s ease-out forwards;
}

.animate-slide-in-top {
  animation: slideInTop 0.8s ease-out forwards;
}

.animate-slide-in-bottom {
  animation: slideInBottom 0.8s ease-out forwards;
}

/* Drawer Mobile */
.animate-slideInRight {
  animation: slideInRight 0.3s ease-out forwards;
}

/* ========================= */
/* ANIMASI UP-DOWN */
/* ========================= */
@keyframes upDown {
  0%, 100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.animate-up-down {
  animation: upDown 2s ease-in-out infinite;
}

/* ========================= */
/* ANIMASI TEXT UNDERLINE */
/* ========================= */
@keyframes lineGrow {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes lineShrink {
  from {
    width: 100%;
  }

  to {
    width: 0;
  }
}

.line-animate-line {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.line-animate-line::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #4a5568;
}

.group:hover .line-animate-line::after {
  animation: lineGrow 0.35s ease-in-out forwards;
}

.group:not(:hover) .line-animate-line::after {
  animation: lineShrink 0.35s ease-in forwards;
}

/* delay masuk (atas ke bawah) */
.group:hover .line-animate-line:nth-child(1)::after {
  animation-delay: 0s;
}

.group:hover .line-animate-line:nth-child(2)::after {
  animation-delay: 0.20s;
}

/* delay keluar (bawah ke atas) */
.group:not(:hover) .line-animate-line:nth-child(1)::after {
  animation-duration: 0.6s;
}

.group:not(:hover) .line-animate-line:nth-child(2)::after {
  animation-duration: 0.4s;
}

/* ========================= */
/* HOVER SHINE EFFECT */
/* ========================= */
.shine__animate {
  position: relative;
  display: block;
  overflow: hidden;
}

.shine__animate::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 100%);
  transform: skewX(-25deg);
  pointer-events: none;
}

.card-shine:hover .shine__animate::before {
  animation: hoverShine 1.2s ease;
}

@keyframes hoverShine {
  100% {
    left: 125%;
  }
}

/* ========================= */
/* SCROLLBAR HIDE */
/* ========================= */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* ========================= */
/* SWEET ALERT2 STYLING      */
/* ========================= */

/* Popup */
.my-swal-popup {
  border-radius: 16px;
  padding: 30px;
  font-family: 'Inter', 'Arial', sans-serif;
  border: 1px solid #d1d5db;
  box-shadow:8px 8px 0 0 rgba(0, 0, 0, 0.25);
  width: 420px;
    min-height: 200px;
}

/* Title */
.my-swal-title {
  font-size: 16px;
  font-weight: 600;
  color: #1f2937;
  margin-top: -15px;
  text-align: center;
}

/* Text */
.my-swal-text {
  font-size: 12px;
  color: #4b5563;
  text-align: center;
  line-height: 1.5;
}

/* Tombol Konfirmasi (Ya) */
.my-swal-confirm {
  background-color:#9333ea;
  color: white;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  box-shadow: 3px 3px 0px black;
  transition: all 0.3s ease-in-out;
}

.my-swal-confirm:hover {
  background-color: #facc15;
  color: black;
  box-shadow: none;
}

/* Tombol Batal */
.my-swal-cancel {
  background-color: #dc2626;
  color: white;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin-left: 8px;
  box-shadow: 3px 3px 0px black;
  transition: all 0.3s ease-in-out;
}

.my-swal-cancel:hover {
  background-color: #b91c1c;
  box-shadow: none;
}
/* Icon */
/* Base */
.my-swal-icon {
  transform: scale(0.9);
  margin: 0 auto 12px auto;
}

/* Warna warning */
.my-swal-icon.swal2-warning {
  border-color: #f59e0b !important;
  color: #f59e0b !important;
}

/* Warna sukses */
.my-swal-icon.swal2-success,
.swal2-icon.swal2-success {
  border-color: #16a34a !important;
  color: #16a34a !important;
}

.swal2-icon.swal2-success [class^='swal2-success-line'] {
  background-color: #16a34a !important;
}

.swal2-icon.swal2-success .swal2-success-ring {
  border: 4px solid #16a34a !important;
}

/* Warna error */
.my-swal-icon.swal2-error,
.swal2-icon.swal2-error {
  border-color: #dc2626 !important;
  color: #dc2626 !important;
}

.swal2-icon.swal2-error [class^='swal2-x-mark-line'] {
  background-color: #dc2626 !important;
}

/* Menyembunyikan scrollbar untuk Chrome, Safari, dan Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Menyembunyikan scrollbar untuk IE, Edge, dan Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE dan Edge */
  scrollbar-width: none;     /* Firefox */
}
